#root {
  /* Max Width: 1280px */
  /* max-width: ; */
  min-height: 100vh;
  min-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(54, 53, 118);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1, h2, h3, h4, p {
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#menu{
  margin-left:  0%;
  margin-right: 0%;
  width: 100%;
  height: 100%;
  /* stroke: white;
  stroke-width: 10px; */
  outline: white solid 1px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: #ffffff 0px 1px 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button{
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.divider{
  border-left: 1px solid #ffffff;
  height: 50px;
}


#home-btn, #users-btn, #add-btn, #mail-btn, #more-btn {
  background-color: rgba(255, 255, 255, 0);
} 

/* .icon-circle-ellipsis{
  background-color: rgba(0, 0, 0, 1);
} */
/* #home-btn, #user-btn {
  background-color: white;
  border: solid transparent;
  font-size: 1.2em;
  cursor: pointer;
} */

