.login_box {
    min-height: 650px;
    min-width: 320px;
    width: 100%;
    background-color: #363576;
    border: 2px solid silver;
    border-radius: 25px;

    display: flex;              /* use flex layout */
    /*justify-content: center;    /* center vertically inside the box */
    flex-direction: column;
    align-items: center;        /* center horizontally */
    gap: 20px;
    padding: 25px;
    box-sizing: border-box;

    position: relative;
}

.title {
    font-weight: 800;
    font-size: 28px;
    line-height: 29px;
    margin-top: 10px;
}

.signin_text {
    position: relative;
    font-weight: 900;
    font-size: 25px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
}

.field button {
    height: 55px;
    border: 1px solid silver;
    font-size: 1.4rem;
    margin-top: 15px;
}

.field button:hover {
    border:2px solid #646cff;
}

.field_label,
.field_input {
    box-sizing: border-box;
    width: 100%;
}


.field_label {
    background: #26265B;
    color: white;
    padding: 2px 16px;
    border-radius: 12px 12px 0 0;
    border: 1px solid silver;
    text-align: left;
    border-bottom: none;
}

.field_input {
    align-items: center;
    background: white;
    color: black;
    padding: 14px 16px;
    border-radius: 0 0 12px 12px;
    border: 1px solid silver;
    outline: none;
    margin-bottom: 15px;
    border-top: none;
}

.input_wrapper {
    position: relative;
}

.eye {
    position: absolute;
    right: 6%;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.eye img {
    width: 20px;
    height: 20px;
}

.log_in,
.sign_up {
    position: relative;    
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    bottom: 10px;
}

.google_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 260px;
    height: 40px;
    border-radius: 12px;
    
    background-color: white;
    cursor: pointer;

    margin-top: 80%;
    
}

.google_box:hover {
    border:2px solid #646cff;;
}

.google_icon {
    position: relative;
    right: 48%;
    top: 18%;

    color: black;
}

.google_icon img {
    width: 20px;
    height: 20px;
}

.google_signin_text {
    color: black;
    position: absolute;
    text-align: left;
    font-weight: 600;
    left: 25%;
    font-size: 1.2rem;
}

.remember_me {
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}

.remember_me input {
  display: none;
}

.custom_checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid silver;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.remember_me input:checked + .custom_checkbox::after {
  content: "";
  position: absolute;
  left: 4.5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid silver;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}